@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* typography */

h1 {
    font-size: 2.75rem;
}

/* header section */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 1em;
    color: white;
    background: #252525 url("images/header-bg.png");
    background-size: cover;
    background-position: center;
}

/* search bar */

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding-left: 1em;
    margin: 0 1em;
    height: 36px;
    transform: translateY(-18px);
    border: 1px solid #bbbbbb;
    border-radius: 8px;
}

.search-bar input {
    padding-left: 1em;
    width: 550px;
    height: 36px;
    color: #252525;
    background: none;
    border: none;
    border-right: 1px solid #bbbbbb;
}

.search-bar input:focus {
    outline: none;
}

.search-bar button {
    width: 150px;
    height: 34px;
    color: #252525;
    background: #F9FAFB;
    border: none;
    border-end-end-radius: 8px;
    border-start-end-radius: 8px;
    cursor: pointer;
}

/* links */

a {
    font-size: .75rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: gray;
}

/* images */

.icon {
    width: 16px;
    height: 16px;
}

/* main section */ /* TEST */

/* main {
    height: 75vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
}

img {
    width: 70px;
    margin: 0 auto;
}

p {
    font-size: 1.125rem;
    color: #bbbbbb;
} */

/* 
            <section class="film">
                <img class="film-img" src="images/film-banner.png" alt="Blade Runner film banner">
                <h2 class="film-name">Blade Runner</h2>
                <p class="film-rate">8.1</p>
                <p class="film-time">117 min</p>
                <p class="film-categories">Action, Drama, Sci-fi</p>
                <button class="add-film-btn">+ Watchlist</button>
                <p class="film-description">A blade runner must pursue and terminate four replicants who stole a ship in space, and have returned to Earth to find their creator.</p>
            </section>

*/

/* film section style */

.film * {
    margin: 0;
}

.film {
    display: flex;
    gap: 1em;
    width: 90%;
    margin: 1em auto 0;
}

.film-img {
    grid-area: img;
    width: 100px;
    justify-self: stretch;
    object-fit: cover;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em 0;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.add-film-btn {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
}

hr {
    width: 90%;
    margin: 3em auto;
}